
importFrom("graphics", "legend", "matplot", "par")
importFrom("stats", "coef", "lm", "rnorm")
importFrom("DBI", "dbDriver")
importFrom("RSQLite", "dbBuildTableDefinition", "dbConnect", "dbDisconnect",
           "dbGetQuery", "dbWriteTable")
importFrom("lattice", "trellis.par.get", "trellis.par.set", "xyplot", "simpleKey", "dotplot")
importFrom("plyr", "ddply")
importFrom("reshape", "melt", "melt.data.frame")
importFrom("Matrix", "lu")

export(
       ## benchmark.R
       getMatrix,
       matmultBenchmark,
       matmultBenchmarkgputools,
       qrBenchmark,
       qrBenchmarkgputools,
       svdBenchmark,
       #svdBenchmarkgputools,
       luBenchmark,
       luBenchmarkgputools,
       ##
       ## utilities.R
       requirements,
       createDatabase,
       databaseResult,
       installAtlas,
       installAtlas39,
       installGoto,
       installMKL,
       purgeAtlas,
       purgeAtlas39,
       purgeGoto,
       purgeMKL,
       isPackageInstalled,
       hasGputools,
       getBenchmarkData,
       ##
       ## analysis.R
       loglogAnalysis,
       ##
       ## figures.R
       figure_LU_i7,
       figure_LU_xeon,
       figure_MatMult_i7,
       figure_MatMult_xeon,
       figure_QR_i7,
       figure_QR_xeon,
       figure_SVD_i7,
       figure_SVD_xeon,
       figure_LogLogIntercept,
       figure_LogLogSlopes,
       figure_LogLogLattice,
       figure_Lattice
       )
